table {
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
    margin-bottom: 100px;
}

table td,
table th {
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 130px;

}

img {
    height: 100px;
    width: 100px;
}

.head {
    color: blueviolet;
}

.del {
    color: red;

}

.edit {
    margin-left: 30px;
}

.delete {
    margin-left: 10px;
    color: red;
}